#one{
  display: flex;
  border: 2px solid rgb(110, 143, 232);
  border-radius: 15px;
  padding: 3em;
  margin: 5em;
  max-width: 800px;
}

#addComments{
  padding: 1.5em;
  margin-left: 5em;
  
}

#commentaires{
  padding: 3em;
  margin-left: 5em;
  margin-top: 5em ;
  margin-bottom: 2em;
}

#commentaires h2{
  color: gray;
  margin: 2em;
}

#commentaires p{
  margin : 2em;
  border: 2px solid rgb(75, 38, 17);
  padding: 1.2em;

}


h1{
  margin: 2em;
}

#one #cover{
    flex: 1;
    padding-right: 5em;
    min-width: 15em;
}

#one div{
  flex:2;
  padding-right: 2em;
}

#one h2,p{
    margin: 2em;
    justify-content: start;
}