#one{
  display: flex;
  border: 3px solid rgb(110, 143, 232);
  padding: 5Em;
  margin: 5em;
  max-width: 600px;
}

#one Figure{
    flex: 1;
    padding-right: 5em;
}

#one div{
  padding-right: 5em;
}

#one h2,p{
    margin: 2em;
}